rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if request.auth != null && (
        request.auth.uid == 'MvxtpEqVlSZayDDxdXKNgjivHWs2' ||
        request.auth.uid == 'lfy3dnRhhpW6nkYuxkCus51jUju1'
      );
    }
  }
}
